{% load static %}
<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Manager{% endblock %}</title>

    {% include 'includes/head.html' %}
</head>
<body>
    <div id="app" class="container py-5" style="padding-top: 75px!important;">
        
        {% include 'views/allbodys.html' %}



        {% include 'includes/navigation.html' %}
    </div>
    {% include 'includes/scripts.html' %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>